* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    body {
        margin: 0;
        padding: 0;
    font-family: cursive;
    color:#fff;
    background-color: #1c2130;
 height: 100%;
    }
    
    a {
    text-decoration: none;
    color: #005bc5;
    }
    
    li {
    list-style: none;
    }

    .wrapper{
        min-height: 100%;
        display: flex;
        flex-direction: column;
      }
      html{
        height: 100%;
      }

    /* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #21273a;
    color: #00b4fc;
   
    }
    
    .nav-links a {
    color: #fff;
    }
    
    /* LOGO */
    .logo {
    font-size: 32px;
    }
    
    /* NAVBAR MENU */
    .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    }
    
    .menu li:hover {
    background-color: #005bc5;
    
    border-radius: 5px;
    transition: 0.3s ease;
    }
    
    .menu li {
    padding: 5px 14px;
    }
    
    /* DROPDOWN MENU */
    .services {
    position: relative; 
    }
    
    .dropdown {
    background-color: #005bc5;
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    z-index: 100;
    display:none;
    border-radius: 8px;
    top: 35px;
    }
    
    .dropdown li + li {
    margin-top: 10px;
    }
    
    .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
    }
    
    .dropdown li:hover {
    background-color: #1c2130;
    }
    
    .services:hover .dropdown {
    display: block;
    }
    
    input[type=checkbox] {
        display: none;
        } 
        
        /* HAMBURGER MENU */
        .hamburger {
        display: none;
        font-size: 24px;
        user-select: none;
        }
        
        /* APPLYING MEDIA QUERIES */
        @media (max-width: 768px) {
        .menu {
        display:none;
      
        background-color:#1c2130;
        right: 0;
        left: 0;
        position: absolute; 
    z-index: 100;
        text-align: center;
        padding: 16px 0;
        margin-top: 10px;
        }
        
        .menu li:hover {
        display: inline-block;
        background-color:#005bc5;
        transition: 0.3s ease;
        }
        
        .menu li + li {
        margin-top: 12px;
        }
        
        input[type=checkbox]:checked ~ .menu {
        display: block;
        }
        
        .hamburger {
        display: block;
        }
        
        .dropdown {
        left: 50%;
        top: 30px;
        
        transform: translateX(35%);
        }
        
        .dropdown li:hover {
        background-color: #1c2130;
        }
        }
        @media (max-width: 440px) {
            .menu {
            display:none;
            background-color:#1c2130;
            right: 0;
            left: 0;
            position: absolute; 
        z-index: 100;
            text-align: center;
            padding: 16px 0;
            margin-top: 0px;
            }
            .navbar{
                display: flex;
                flex-direction: column;
            }
        }
.light-theme{
    color: #1c2130;
    background-color: #fff;
}

.logo{
    color: #fff;
}
.logo span{
    color: #0077ff;
}

.btn-wrapper{
    display: flex;
    flex-direction: row;
}



footer {
    background-color: #21273a;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  .main{
    flex-grow: 1;
  }
  .product{
  margin: 10px 20px 30px 20px;
  }
  .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .image{
    margin-bottom: 10px;
  }
  .image img{
    height: 300px;
    width: 200px;
    object-fit: cover;
    border-radius: 7px;
    margin-bottom: 1px;
  }
.info h3{
    font-size: 21px;
    margin-bottom: 0;  
   
}


.rating{
    margin-bottom: 0;
    margin-left: 0;
    list-style-type: none;
}
.rating li{
    display:inline-block ;
color: #ffc107;
}
.info-price{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

align-items: center;
}
.add-to-cart{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #005bc5;
}

.add-to-cart:hover{
   color: #012677;
}

.add-to-like{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff1100;
}

.add-to-like:hover{
    background-color: #e4304e;
}
.price{
    font-weight: 700;
    font-size: 18px;
}
  